body {
  background: url('../src/images/abacus.jpg') no-repeat;
  background-size: cover; /** moved this property down */
  background-color: #FF8002 !important;
}

.container {
  max-width: 100% !important;
}

.navbar {
  background-color: orange;
  text-align: center;
}

.btn-group {
  font-family: fantasy;
  margin-left: 20px !important;
}
.btn-primary {
  display: inline !important;
  color: white;
  width: 230px !important;

  .active {
    background-color: green !important;
}
}

.body-text {
  margin: 20px 15px 20px 20px;
  background-color: #ffffffd4 !important;
  color: black;
  font-family: fantasy;
}

h1 {
  text-align: center;
}

h3 {
  margin-left: 5px;
}

p {
  margin-left: 5px;
}
